#header{
    background: lightpink;
}

#header h1{
    color: white;
}
.submit-row {
    background: lightgreen;
}
.submit-row .button, input[type=submit], input[type=button] {
    background: lightpink; 
}